@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --bg-color: #101012;
  --bg-header: #32353e;
  --font-color: white;
  --primary-color: #f59c0d;
  --bg-item: linear-gradient(180deg, #57585c 70%, #636468)
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Roboto Condensed', sans-serif;
}

