.Wrapper {
  margin-top: 5px;
}

.Heading {
  font-size: 10px;
  margin-bottom: 5px;
}

.Bar {
  height: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, .5);
  position: relative;
  overflow: hidden;
}

.ProgressBar {
  position: absolute;
  background: var(--primary-color);
  /*height: 100%;*/
  left: 0;
  top: 1px;
  bottom: 1px;
  transition: width 0.3s ease;
}
